
@{
    ViewBag.Title = "Yeni Ürün Ekle";
    ViewBag.SelectPage = "yeni-urun";
}

<div class="row">
    <div class="container box-content-info">
        <div class="container-fluid container-top-padding">
            <div class="col-md-12">
                <div class="col-lg-12">
                    <form id="form-addProduct" method="post" enctype="multipart/form-data">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">Ürün Detayları</h5>
                            </div>
                            <div class="panel-body fixed-margin">
                                <div class="row">
                                    <div class="col-md-2">Başlık: <span style="color:red">*</span></div>
                                    <div class="col-md-10">
                                        <input name="Name" id="Name" class="form-control" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">Fiyat: <span style="color:red">*</span></div>
                                    <div class="col-md-10">
                                        <input name="Price" id="Price" class="form-control" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">Açıklama:<span style="color:red">*</span></div>
                                    <div class="col-md-10">
                                        <textarea name="Description" class="form-control"  rows="7" id="Description" ></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">Kapak Fotoğrafı : </div>
                                    <div class="col-md-10">
                                        <input id="MainImage" type="file" class="file will-disable"
                                               name="MainImage" data-show-upload="true">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">Fotoğraflar : </div>
                                    <div class="col-md-10">
                                        <input id="Photos" type="file" multiple class="file will-disable"
                                               name="Photos" data-show-upload="true">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-10">
                                        <input type="hidden" name="IsPublish" id="IsPublish" value="false">
                                        <input type="checkbox" name="IsPublished" id="IsPublished" value="">Ürünü Yayınla<br>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">SEO Ayarları</h5>
                            </div>
                            <div class="panel-body fixed-margin">
                                <div class="row">
                                    <div class="col-md-2">Url : <span style="color:red">*</span></div>
                                    <div class="col-md-10">
                                        <input name="Uri" id="Uri" class="form-control" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">Anahtar Kelimeler (Virgül ile ayırın.) : </div>
                                    <div class="col-md-10">
                                        <input name="Keywords" id="Keywords" class="form-control" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">Etiketler (Virgül ile ayırın.): </div>
                                    <div class="col-md-10">
                                        <input name="Tags" id="Tags" class="form-control" placeholder="Finans, Bitcoin vs.." />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-footer" style="text-align:right;">
                            <button id="btnSave" class="btn btn-primary will-disable">Kaydet</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts{
    <script src="~/Scripts/Application/Product/add-product.js"></script>
}



