@using BTC.Model.View
@{
    ViewBag.Title = "Ürünlerim";
    ViewBag.SelectPage = "urunlerim";
}

<input type="hidden" id="FirstId" value="">
<input type="hidden" id="LastId" value="">



<div class="feed-content blog" style="padding-top:50px;">
    <h1 class="text-center">Ürün Listesi</h1>
    <div class="container container-top-padding">
        <div class="row">
            <div class="col-md-12 box-body-feed">
                @Html.Action("_GetPartialViewMyProducts")
            </div>

        </div>
    </div>

</div>
