@using BTC.Model.View;
@{
    ViewBag.Title = "Şifre Değiştir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model CurrentUserModel

<div class="animated fadeIn">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <strong>Şifre Bilgileri</strong> - <small>@Model.FullName</small>
                </div>
                <div class="card-body card-block">
                    <div class="form-group">
                        <label class=" form-control-label">Mevcut Şifre</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-user"></i></div>
                            <input type="password" id="Password" name="Password" placeholder="Mevcut Şifreniz" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class=" form-control-label">Yeni Şifre</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-user"></i></div>
                            <input type="password" id="NewPassword" name="NewPassword" placeholder="Yeni Şifre" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class=" form-control-label">Yeni Şifre Tekrar</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-user"></i></div>
                            <input type="password" id="NewPasswordAgain" name="NewPasswordAgain" placeholder="Yeni Şifre Tekrar" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-primary btn-sm" onclick="changePassword()">
                        <i class="fa fa-dot-circle-o"></i> Kaydet
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/js/user-operation")
}
