@using BTC.Model.Entity


@model List<Categories>

<h3>Kategoriler</h3>
@foreach (var item in Model)
{
    <a href="/blog/kategori/@item.Uri" class="btn btn-more btn-xs" style="padding:5px;" target="_blank">@item.Name</a>
}


