@using BTC.Model.View
@model List<PostModel>

    <h3>En Çok Okunanlar</h3>
@foreach (var item in Model)
{
    <div class="box-comment box-blog" style="margin-bottom:10px">
        @*<div class="gdlr-core-zoom-on-hover" style="max-height:300px; max-width:800px">
            <img src="~/Images/_post/small/@item.TopPhotoUrl" class="response img-responsive" alt="" style="height:100%;width:100%" />
        </div>*@
        <div class="info-blog">
            <i class="far fa-clock"></i>
            <span>@item.CreateDate.ToShortDateString()</span>
            <i class="fas fa-user-tie"></i>
            <span>@item.Writer</span>
            <i class="far fa-eye"></i>
            <span>@item.ViewCount</span>
        </div>
        <h3>@item.Title</h3>
        <a href="/blog-detay/@item.Uri" target="_blank" class="btn btn-more">Devamı...</a>
    </div>
}
