@using BTC.Model.View
@{

    PostFilterModel filter = ViewBag.Filter as PostFilterModel;

    ViewBag.Title = "Makaleler";



    if (filter != null)
    {
        if (!string.IsNullOrWhiteSpace(filter.CategoryName))
        {
            ViewBag.SelectPage = filter.CategoryName;
        }
        else
        {
            ViewBag.SelectPage = "makaleler";
        }

        if (!string.IsNullOrWhiteSpace(filter.Writer))
        {
            ViewBag.SelectPage = filter.Writer;
        }
        else
        {
              ViewBag.SelectPage = "makaleler";
        }
    }
    else
    {
        ViewBag.SelectPage = "makaleler";
    }
}




<input type="hidden" id="FirstId" value="">
<input type="hidden" id="LastId" value="">

<div class="feed-content blog" style="padding-top:50px;">
    <div class="container container-top-padding">
        <div class="row">

            <div class="col-md-8 box-body-feed">
                @Html.Action("_GetPartialViewPosts", filter)
            </div>

            <div class="col-md-4 box-right-feed">
                <div class="right-column">
                    @Html.Action("_GetPartialViewBestViewPosts")
                    @Html.Action("_GetCategories")
                </div>
            </div>

        </div>
    </div>

</div>
