@using BTC.Model.Response
@{
    ViewBag.Title = "Yetkiniz Yok !";
}

@model ResponseModel

<div class="help">
    <div class="help-search">
        <div class="gr-back"></div>
        <div class="gr-back2"></div>
        <div class="container info-help">
            <div class="row">
                <div class="col-md-12">
                    <h3>@Model.Message</h3>
                    <div class="content-search">
                        <div class="cc-search">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


