
@{
    ViewBag.Title = "Sayfalar";
}



<div class="panel panel-default">
    <div class="panel-heading">
    </div>
    <div class="panel-body fixed-margin">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Başlık
                    </th>
                    <th>
                        Yayında Mı?
                    </th>
                    <th>
                        Görüntülenme Sayısı
                    </th>
                    <th>
                        İşlemler
                    </th>
                </tr>
            </thead>

            <tbody id="pageListTableBody"></tbody>

        </table>

    </div>
</div>




@section scripts{
    <script src="~/Scripts/Application/Page/page-list.js"></script>
}







