
@{
    ViewBag.Title = "Alt Menu Ekle";
}


<ul class="nav nav-tabs">
    <li class=""><a data-toggle="tab" href="#page-search">Sayfa Bul</a></li>
    <li><a data-toggle="tab" href="#static-page">Static Sayfalar</a></li>
</ul>

<div class="tab-content">
    <input id="MenuID" value="@ViewBag.MenuID" type="hidden" />
    <div id="page-search" class="tab-pane fade in active">

        <ul class="nav nav-tabs">
            <li onclick="getPageUrls('category-page',1)" ><a data-toggle="tab" data-id="1" href="#category-page">Kategoriler</a></li>
            <li onclick="getPageUrls('writer-page',2)"  ><a data-toggle="tab" data-id="2" href="#writer-page">Yazarlar</a></li>
            <li onclick="getPageUrls('supplier-page',3)"  ><a data-toggle="tab" data-id="3" href="#supplier-page">Tedarikçiler</a></li>
            <li onclick="getPageUrls('page-page',4)"  ><a data-toggle="tab" data-id="4" href="#page-page">Sayfalar</a></li>
            <li onclick="getPageUrls('content-page',5)" ><a data-toggle="tab"  data-id="5" href="#content-page">İçerikler</a></li>
            <li onclick="getPageUrls('post-page',6)"  ><a data-toggle="tab" data-id="6" href="#post-page">Yazılar</a></li>
            <li onclick="getPageUrls('member-page',7)"  ><a data-toggle="tab" data-id="7" href="#member-page">Üyeler</a></li>
        </ul>

        <div class="tab-content">
            <div id="category-page" class="tab-pane fade in col-md-12">
            </div>
            <div id="writer-page" class="tab-pane fade in col-md-12">
            </div>
            <div id="supplier-page" class="tab-pane fade in col-md-12">
            </div>
            <div id="page-page" class="tab-pane fade in col-md-12">
            </div>
            <div id="content-page" class="tab-pane fade in col-md-12">
            </div>
            <div id="post-page" class="tab-pane fade in col-md-12">
            </div>
            <div id="member-page" class="tab-pane fade in col-md-12">
            </div>
        </div>
    </div>
    <div id="static-page" class="tab-pane fade in">

        @Html.Action("_GetStaticPages")

    </div>
</div>



<div id="getPagesBySearchKey">

</div>




<div class="col-md-12">
    <div id="subMenuDiv">
        @Html.Action("_GetSubMenus", new { menu_id = ViewBag.MenuID })
    </div>
</div>


@section scripts
{
    <script src="~/Scripts/Application/UserOperation/admin-operation.js"></script>
}






