@model List<BTC.Model.View.PageUrlItem>


<table class="table table-bordered" id="table_id_@ViewBag.TypeID">

    <thead>
        <tr>
            <th>Sıra No</th>
            <th>Sayfa Adı</th>
            <th>Url</th>
            <th>İşlemer</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
        <tr>
            <td style="width:20%"><input class="form-control" id="row_number_@item.ID" name="row_number_@item.ID" type="number" /></td>
            <td>@item.Name</td>
            <td>@item.Uri</td>
            <td><button onclick="addPageUriItem(@item.ID)" type="button" class="btn btn-success btn-xs"><i class="fa fa-plus-circle" ></i></button></td>
        </tr> 
        }
    </tbody>
</table>


