@using BTC.Model.View
@{
    ViewBag.Title = "Kullanıcı Listesi";
    ViewBag.SelectPage = "tum-uyeler";
}

<div class="col-md-12">
    <div class="col-md-4">
        <div class="form-group">
            <label for="search_key">Kullanıcı Ad/Soyad/Email</label>
            <input id="search_key" name="search_key" class="form-control" />
        </div>
    </div>
    <div class="col-md-4" style="margin-top: 28px;">
        <button type="button" onclick="getUserlist()" class="btn btn-primary">Ara</button>
    </div>
</div>
<div class="col-md-12">
    <div id="userList">
        @Html.Action("_GetUsers")
    </div>
</div>



@section scripts
{
    <script src="~/Scripts/Application/UserOperation/admin-operation.js"></script>

    <script>
        $(document).ready(function () {
            loadUserHandlers();
        });
    </script>

}